*{padding:0; margin:0;}
#pre{
    width:500px;
    height:500px;
    background-color:#5eaa54;
    margin:50px;
    float:left;
    perspective:500px;
    /* 3d 공가에서 요소와의 거리감을 지정 - 속성값이 작을수록
    가깝고클수록 멀게 보임 */
    perspective-origin:100% 100%;/*원근감에 대한 중심축변화, x y(50% 50%)*/
} 

#pre .test{
    width:500px;
    height:500px;
    background-color:rgb(239, 221, 188);
    text-align:center;
    line-height:500px;
    transition:all 0.5s;
}


#pre:hover .test{
    transform:rotateX(50deg);
}




#back{
    width:500px;
    height:500px;
    background-color:#5eaa54;
    margin:50px;
    float:left;
    perspective:500px;
    /* 3d 공가에서 요소와의 거리감을 지정 - 속성값이 작을수록
    가깝고클수록 멀게 보임 */
    perspective-origin:100% 100%;/*원근감에 대한 중심축변화, x y(50% 50%)*/
} 

#back img{
    width:500px;
    height:500px;
    background-color:rgb(239, 221, 188);
    text-align:center;
    line-height:500px;
    transition:all 0.5s;
    backface-visibility: visible; /*회전 시 뒷면 표기유무-뒷면표시*/
    /* backface-visibility: hidden ; */
    /*회전 시 뒷면 표기유무-뒷면제거*/
}


#back:hover img{
    transform:rotateY(180deg);
}
